$color-primary: #55B7B4 !default;
$color-danger: #ed3f14 !default;
$color-regular: #eef8f8 !default;

//$color-primary-hover: rgba($color-primary,.1) !default;
$color-primary-hover: mix(#fff, $color-primary, 89.88%) !default;

$text-color-primary: #333 !default;
$text-color-regular: #666 !default;
$text-color-secondary: #999 !default;

$border-color-base: #e0e1e2 !default;
$border-radius-base: 2px !default; //边框圆角

$input-border-hover-color: mix(#fff, $color-primary, 45%) !default;